
// Svörtu
@svortu-color-primary: #eee;
@svortu-color-background: black;
@svortu-color-secondary: #7b0800;

// Bíó Lemúr
@bio-color-primary: #667482;
@bio-color-secondary: #667482;

// Lanztidindi
@lanztidindi-color-primary: #342421;
@lanztidindi-color-secondary: #f1e9da;

// Áróðursmálaráðuneytið
@arodursmal-color-primary: #a23820;

// Suðrið
@sudrid-color-secondary: #849361 -20;

// Babel
@babel-color-primary: #7b2a16;


// SVÖRTU SÍÐURNAR
body.category-svartabloggid, body.svartabloggid, 
body.category-svarta-spolan,
body.category-svortu, body.svortu,
body.category-svartaspolan, body.svartaspolan,
body.category-svarta-ljosmyndin, body.svarta-ljosmyndin,
body.page-template-template-svartasafnid-php {
    
	background: @svortu-color-background;
    color: @svortu-color-primary;
    
    .section-box div a.sidebar-box-headline {
        background-color: fade(@svortu-color-background,80%);
        color: @svortu-color-secondary;
        font-weight: bold;
    }
    
    ::selection, ::-moz-selection {
        background-color: @svortu-color-secondary;
        color: @svortu-color-primary;
        opacity: 0;
    }
    
    .content, .wrap, .nav {
        background: @svortu-color-background;
        color: @svortu-color-primary;
    }
    
    .cat-title {
        color: @svortu-color-secondary !important;
        a {
            color: @svortu-color-secondary !important;
        }
    }
    
    a {
        color: @svortu-color-primary;
        .cat-title {
            color: @svortu-color-secondary !important;
        }
        &:hover {
            color: @svortu-color-secondary;
        }
    }
    
    .nav ul li a:hover {
    	background: @svortu-color-secondary;
    }
    
    .header .logo {
        background-image: url('assets/images/header-svortu-large.jpg');
    }
    
    .wp-caption {
	    background-color: @color-primary;
	    color: @svortu-color-primary;
	}
	
	.pagination {
        
        a {
            background-color: @color-primary;
        }
    }
    
    .footer {
        .social {
    		a {
        		&:hover {
        		    color: @svortu-color-secondary + 30;
        		}
        	}
    	}
    }
}

// MYNDAALBÚM
body.myndaalbum, body.category-myndaalbum {
    
    .header .logo {
        background-image: url('assets/images/header-myndaalbum.jpg');
    }
}

// SUÐRIÐ
body.sudrid, body.category-sudrid {
    
    a {
        &:hover {
            color: @sudrid-color-secondary;
        }
    }
    
    .nav {        
        ul li a {            
            &:hover {
    	        background: @sudrid-color-secondary;
    	    }
    	}
    }
    
    .header .logo {
        background-image: url('assets/images/header-sudrid.jpg');
    }
}

// LANGTÍBURTISTAN
body.langtiburtistan, body.category-langtiburtistan {
    
    .header .logo {
        background-image: url('assets/images/header-langtiburtistan.jpg');
    }
}

// LANZTÍÐINDI
body.lanztidindi, body.category-lanztidindi {
    
    a {
        &:hover {
            color: @lanztidindi-color-primary + 50;
        }
    }
    
    .nav {
        background: @lanztidindi-color-primary;
        
        ul li a {
            color: @color-white;
            
            &:hover {
                color: @color-primary;
    	        background: @lanztidindi-color-secondary;
    	    }
    	}
    }
    
    .header .logo {
        background-image: url('assets/images/header-lanztidindi.jpg');
    }
    
    .footer {
        .social {
    		a {
        		&:hover {
        		    color: @lanztidindi-color-secondary - 30;
        		}
        	}
    	}
    }
}

// BÍÓ LEMÚR
body.bio, body.category-bio {
    
    .header .logo {
        background-image: url('assets/images/header-bio.jpg');
    }
}

body.kvikindin, body.category-kvikindin {
    
    .header .logo {
        background-image: url('assets/images/header-kvikindin-large.jpg');
    }
}

// ÁRÓÐURSMÁLARÁÐUNEYTIÐ
body.arodursmal, body.category-arodursmal {
    .header .logo {
        background-image: url('assets/images/header-arodur.jpg');
    }
    
    a {
        &:hover {
            color: @arodursmal-color-primary + 10;
        }
    }
    
    .footer {
        .social {
    		a {
        		&:hover {
        		    color: @arodursmal-color-primary + 10;
        		}
        	}
    	}
    }
    
    .nav {
        
        ul li a {
            color: @color-white;
            
            &:hover {
                color: @color-white;
    	        background: @arodursmal-color-primary;
    	    }
    	}
    }
    
}

// BABEL
body.babel, body.category-babel {
    .header .logo {
        background-image: url('assets/images/header-babel.jpg');
    }
    
/*    a {
        &:hover {
            color: @babel-color-primary;
        }
    }
    
    .nav {
        
        ul li a {
            color: @color-white;
            
            &:hover {
                color: @color-white;
                background: @babel-color-primary;
            }
        }
    }
*/    
}

// MAHLZEIT
body.mahlzeit, body.category-mahlzeit {
    
    .header .logo {
        background-image: url('assets/images/header-mahlzeit.jpg');
    }
}

// NÁTTBORÐ
body.nattbord, body.category-nattbord {
    
    .header .logo {
        background-image: url('assets/images/header-nattbord.jpg');
    }
}


// GREINAR
body.page-template-template-greinasafn-php, body.tag, body.author, body.date, body.search-results {
    
    .header .logo {
        background-image: url('assets/images/header-greinasafn.jpg');
    }
}

