.post, div.page {
	margin: 0 0 @gutter*2;
	font-style: normal;
	font-weight: normal;
	
	blockquote {
	    margin-left: @gutter + (@gutter/2);
	    font-family: @font-family;
	    font-size: 16px;
	    margin-top: @gutter/2;
	}
		
	.post-meta {
	    margin-top: -@gutter/2;
	    font-size: 0.85em;
	    margin-bottom: @gutter/2;
	    
	    
	    a.author:hover {
	        text-decoration: underline;
	    }
	    
	    .post-date {
	        line-height: 28px;
            opacity: 0.2;
	        font-size: 0.9em;
	    }
	    
	    .facebook-like {
	        text-align: right;
	    }
	}
	
	.featured-image {
	    
	    img {
	        width: 100% !important;
	        height: auto !important;
	        margin-bottom: @spacing;
	    }
	}
	
	a.more-link {
	    font-weight: normal;
	    font-style: normal;
	}
	
	.post-content {
	    
	    .youtube-placeholder {
	        line-height: 0; 
	        background-color: black; 
	        text-align: center; 
	        position: relative; 
	        display:block; 
	        margin: 0 0 20px;
	        
	        .clickable {
	            display: block; 
	            position: absolute; 
	            left: 0; top: 0; bottom: 0; right:0; 
	            text-align: center; 
	            background: url('assets/images/youtube-play-button.png') no-repeat center center;
	        }
	    }
	    
	    
	    a {
	        text-decoration: underline;
	    }
	    
	    img, div, a {
	        max-width: 100% !important;
	        height: auto !important;
	    }
	    
	    iframe {
	        max-width: 100%;
	    }
	    
	    p {
	        line-height: @font-size + 9px;
	        margin: 0px 0;
	    }
	    p.youtube {
	        margin-bottom: @spacing/2;
	    }
	    
	    a.um-author-name {
            text-decoration: none;
        }
	}
	
	.post-footer {
	    .flokkar {
	        font-size: 14px;
	        margin-bottom: @spacing;
	        margin-top: @spacing * 2;
	    }
	    
	    .comments {
	        width: 100%;
	        margin: @spacing 0;
	    }
	}
	
	
	.wp-caption {
	    .box-sizing(border-box);
	    max-width: 100% !important;
	    background-color: @color-gray-evenlighter;
        padding: @gutter/3 @gutter/3;
	    margin-bottom: @spacing/2;
	    margin-top: @spacing/2;
	    text-align: center;

        img {
        }
	    
	    p.wp-caption-text {
	        
	        margin-top: 4px;
	        font-size: 14px;
	        line-height: 18px;
	    }
	}
	
	.alignright {
	    float: right;
	    margin-left: @spacing;
	}
	
	.alignleft {
	    float: left;
	    margin-right: @spacing
	}
	
	.aligncenter {
	    display: block;
	    margin: auto;
	}
}



#loop {
    
    .wp-caption, .wp-caption-text {
        display: none;
    } 
    .post-content {
        img {
            display: none;
        }
        
        iframe {
            display: none;
        }
        .youtube-placeholder {
            img {
                display: block !important;
                margin: auto;
            }
            iframe {
                display: block !important;
            }
        }
    }
}






