.sidebar {
    
    img {
      max-width: 100% !important;
      height: auto !important;
    }
    
/*    p {
        line-height: @font-size + 9px;
        margin: 0px 0;
    }*/
    
    .album {
        img {
            height: auto !important;
        }
    }

    .photos img {
        margin-bottom: @gutter;
    }
    
    .sidebar-box {
        margin: 0 0 @gutter;

    }

    .widget_execphp {
        >h3 {
            display: none;
        }
    }
    
    div.search-form {
        margin: @gutter/2 0;
    }
    
    // ARCHIVES MONTHLY LIST
    ul.archives-monthly {
        li {
            margin-left: @gutter/2;
        }
    }
    
    .widget_related_posts {
        ul li a:first-child {
            width: 110px;
            overflow: hidden;
            position: absolute;
            height: 0;
            top: 0;
            left: 0;
            padding-bottom: 71.851851851851851851851851851852%;
        }
        img {
            
        }
    }
    
    // ARTICLE LIST
    ul.article-list, .widget_related_posts > div.widget-body > ul {
        padding: 0;
        list-style: none;
        li {
            position: relative;
            padding-left: 130px;
            min-height: 80px;
            margin-bottom: @spacing;

            a {
                display: block;
                font-weight: bold;
            }
            
            span.date {
                opacity: 0.2;
                font-size: 0.9em;
            }

            .figure, .wpp-thumbnail {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 110px;
                
                img {
                    width: 100%;
                }
            }
        }
    }
    
    h2 {
        line-height: 25px;
    }
        
    
    div.section-box {
        
        h2 {
            font-family: @font-family-special;
            font-size: @font-size-section-box;
            line-height: 34px;
            .text-overflow();
        }

        img {
            display: block;
            min-width: 100% !important;
            height: auto;
        }

        div {
            position: relative;

            a.sidebar-box-headline {
                font-family: @font-family-special;
                font-size: @font-size-section-box;
                position: absolute;
                bottom: @gutter/2;
                left: @gutter/2;
                padding: 5px;
                margin-right: @gutter/2;
                background-color: fade(@color-white,90%);
                text-transform: uppercase;
                color: @font-color;
            }
        }

        h2.sidebar-box-header {
            margin-bottom: 0;
            text-transform: uppercase;
            width: 100%;
            background-color: @color-gray-evenlighter;

            a {
                padding-left: @gutter/2;
                padding-right: @gutter/2;
            }
        }
    }

    div.svarta-box {

        h2.sidebar-box-header {
            background-color: black;                
            a {
                color: @svortu-color-secondary;
                &:hover {
                    color: @svortu-color-primary;
                }
            }
        }

        div a.sidebar-box-headline {
            background-color: fade(@color-black,80%);
            color: @svortu-color-secondary;
            font-weight: bold;
        }

    }
    
    div.lanztidindi-box {

        color: @lanztidindi-color-primary;

        h2.sidebar-box-header {
            background-color: @lanztidindi-color-secondary;                
            a {
                color: @lanztidindi-color-primary;

            }
        }

        div a.sidebar-box-headline {
            background-color: fade(@lanztidindi-color-secondary,95%);
            color: @lanztidindi-color-primary;
            font-weight: bold;
        }
    }
    
    div.langtiburtistan-box {

        color: @color-white;

        h2.sidebar-box-header {
            background-color: @langtiburtistan-color-secondary - 20;                
            a {
                color: @color-white;
            }
        }

        div a.sidebar-box-headline {
            background-color: fade(@langtiburtistan-color-secondary - 20,95%);
            color: @color-white;
        }
    }
    
    div.bio-box {

        color: @color-white;

        h2.sidebar-box-header {
            background-color: @color-secondary - 20;                
            a {
                color: @color-white;
            }
        }

        div a.sidebar-box-headline {
            background-color: fade(@color-secondary - 20,86%);
            color: @color-white;
        }
    }
    
    div.utvarplemur-box {

        color: @color-white - 20;

        h2.sidebar-box-header {
            background-color: @color-primary;                
            a {
                font-weight: normal;
                color: @color-white - 20;
            }
        }

        div a.sidebar-box-headline {
            background-color: fade(@color-primary,90%);
            color: @color-white - 20;
        }
    }
    
    div.nattbord-box {
        color: @color-white - 15;

        h2.sidebar-box-header {
            background-color: @nattbordid-color-primary - 75;                
            a {
                font-weight: normal;
                color: @color-white - 15;
            }
        }

        div a.sidebar-box-headline {
            background-color: fade(@nattbordid-color-primary - 75,90%);
            color: @color-white - 15;
        }
    }
    
    div.arodursmal-box {
        color: @color-white - 10;

        h2.sidebar-box-header {
            background-color: @arodursmal-color-primary;                
            a {
                font-weight: normal;
                color: @color-white - 10;
            }
        }

        div a.sidebar-box-headline {
            background-color: fade(@arodursmal-color-primary,95%);
            color: @color-white - 10;
        }
    }
    
    div.kvikindin-box {
        color: @color-white - 10;
        
        h2.sidebar-box-header {
            background-color: #57604e;                
            a {
                font-weight: normal;
                color: @color-white - 10;
            }
        }

        div a.sidebar-box-headline {
            background-color: fade(#57604e,95%);
            color: @color-white - 10;
        }
    }
    
    div.sudrid-box {

        h2.sidebar-box-header {
            background-color: #bcd4a5;                
            a {
                color: #222;

            }
        }

        div a.sidebar-box-headline {
            background-color: fade(#bcd4a5,95%);
            color: #222;
            font-weight: bold;
        }
    }
    
    div.babelsturninn-box {

        h2.sidebar-box-header {
            background-color: #b1cbce;                
            a {
                color: #222;

            }
        }

        div a.sidebar-box-headline {
            background-color: fade(#b1cbce ,95%);
            color: #222;
            font-weight: bold;
        } 
    }
    
    div.mahlzeit-box {

        h2.sidebar-box-header {
            background-color: #906d00;                
            a {
                color: @color-white - 10;

            }
        }

        div a.sidebar-box-headline {
            background-color: fade(#906d00,95%);
            color: @color-white - 10;
            font-weight: bold;
        }
    }
    
}

