

/* Prevent wrapping */

.wrap {
    max-width: none; 
    width: 1020px;
}


/* Fix for header image size */
.wrap > .header > .logo {
    position: relative;
	display: block;
	height: 0;
	padding-bottom: 15%;
	background: url('assets/images/header-small.jpg') no-repeat center center;
}

/* Fix for non-RGBA support */

.sidebar div.section-box div a.sidebar-box-headline {
    background-color: #eee;
}

.sidebar div.svarta-box div a.sidebar-box-headline {
    background-color: #000;
}

/* Fix image size for category headers */

body.category-svartabloggid .header > .logo, 
body.category-svortu .header > .logo,
body.svortu .header > .logo, 
body.svartabloggid .header > .logo {
    background-image: url('assets/images/header-svortu-small.jpg');
}

body.myndaalbum .header > .logo, 
body.category-myndaalbum .header > .logo {
    background-image: url('assets/images/header-myndaalbum-small.jpg');
}

body.sudrid .header > .logo, 
body.category-sudrid .header > .logo {
    background-image: url('assets/images/header-sudrid-small.jpg');
}

body.langtiburtistan  .header > .logo, 
body.category-langtiburtistan .header > .logo {
    background-image: url('assets/images/header-langtiburtistan-small.jpg');
}

body.lanztidindi .header > .logo, 
body.category-lanztidindi .header > .logo {
    background-image: url('assets/images/header-lanztidindi-small.jpg');
}

body.bio .header > .logo, body.category-bio .header > .logo {
    background-image: url('assets/images/header-bio-small.jpg');
}

body.kvikindin .header > .logo, body.category-kvikindin .header > .logo {
    background-image: url('assets/images/header-kvikindin-small.jpg');
}

body.arodursmal .header > .logo, body.category-arodursmal .header > .logo {
    background-image: url('assets/images/header-arodur-small.jpg');
}

body.babel .header > .logo, body.category-babel .header > .logo {
    background-image: url('assets/images/header-babel-small.jpg');
}

body.category-greinar .header > .logo , 
body.author, body.date .header > .logo, body.tag .header > .logo {
    background-image: url('assets/images/header-greinasafn-small.jpg');
}

body.mahlzeit .header > .logo, body.category-mahlzeit .header > .logo  {
    
    .header .logo {
        background-image: url('assets/images/header-mahlzeit-small.jpg');
    }
}

// NÁTTBORÐ
body.nattbord .header > .logo, body.category-nattbord .header > .logo  {
    
    .header .logo {
        background-image: url('assets/images/header-nattbord-small.jpg');
    }
}
