/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:hidden;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

/* 
    ColorBox example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cboxOverlay{background:#fff;}

#colorBox{font: 12px Tahoma, Arial,sans-serif;}
    #cboxTopLeft{width:25px; height:25px; background:url(images/border1.png) 0 0 no-repeat;}
    #cboxTopCenter{height:25px; background:url(images/border1.png) 0 -50px repeat-x;}
    #cboxTopRight{width:25px; height:25px; background:url(images/border1.png) -25px 0 no-repeat;}
    #cboxBottomLeft{width:25px; height:25px; background:url(images/border1.png) 0 -25px no-repeat;}
    #cboxBottomCenter{height:25px; background:url(images/border1.png) 0 -75px repeat-x;}
    #cboxBottomRight{width:25px; height:25px; background:url(images/border1.png) -25px -25px no-repeat;}
    #cboxMiddleLeft{width:25px; background:url(images/border2.png) 0 0 repeat-y;}
    #cboxMiddleRight{width:25px; background:url(images/border2.png) -25px 0 repeat-y;}
    #cboxContent{background:#fff;}
/*        #cboxLoadedContent{margin-bottom:20px;}
        #cboxTitle{position:absolute; bottom:0; left:0; text-align:center; width:100%; color:#999;}
        #cboxCurrent{position:absolute; bottom:0; left:100px; color:#999;}
        #cboxSlideshow{position:absolute; bottom:0; right:70px; color:#444;}
        #cboxPrevious{position:absolute; bottom:0; left:0; color:#444;}
        #cboxNext{position:absolute; bottom:0; left:63px; color:#444;}
        #cboxLoadingOverlay{background:url(images/loading.gif) 5px 5px no-repeat #fff;}
        #cboxClose{position:absolute; bottom:0; right:0; display:block; color:#444;}*/

        #cboxLoadedContent{margin-bottom:20px;}
        #cboxLoadingGraphic{background:url(images/loading.gif) center center no-repeat;}
        #cboxLoadingOverlay{background:#FFF;}
        #cboxTitle{position:absolute; bottom:0; left:0; text-align:left; width:100%; color:#999;}
        #cboxCurrent{position:absolute; bottom:0; right:120px; color:#999;}
        #cboxSlideshow, #cboxPrevious, #cboxNext, #cboxClose{text-indent:-9999px; width:20px; height:20px; position:absolute; bottom:0; background:url(images/controls.png) 0 0 no-repeat;}
        #cboxPrevious{background-position:0 0; right:44px;}
        #cboxPrevious.hover{background-position:0 -25px;}
        #cboxNext{background-position:-25px 0; right:22px;}
        #cboxNext.hover{background-position:-25px -25px;}
        #cboxClose{background-position:-50px 0; right:0;}
        #cboxClose.hover{background-position:-50px -25px;}
        .cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px;}
        .cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
        .cboxSlideshow_on #cboxSlideshow.hover{background-position:-100px -25px;}
        .cboxSlideshow_off #cboxSlideshow{background-position:-100px 0; right:44px;}
        .cboxSlideshow_off #cboxSlideshow.hover{background-position:-75px -25px;}