<!DOCTYPE html>

	<!--[if lt IE 7]> <html lang="en" class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
	<!--[if IE 7]> <html lang="en" class="lt-ie9 lt-ie8"> <![endif]-->
	<!--[if IE 8]> <html lang="en" class="lt-ie9"> <![endif]-->
	<!--[if gt IE 8]><!--><html lang="en" class=""><!--<![endif]-->

	<head>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=1020">

		<title>{{ page.name }} ‹ {{ site.name }}</title>

		<link type="text/css" rel="stylesheet" href="/css/main.less">

		<!--[if lt IE 9]>
			<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!--[if lte IE 7]>
			<script src="/js/lte-ie7.js"></script>
		<![endif]-->

	</head>

	<body class="">

		<div class="wrap">

			<header class="header">
				
				<a href="/" class="logo"></a>

				<nav class="nav">
					<ul>
                        <li><a href="/greinar">Greinasafn</a></li>
                        <li><a href="/myndaalbum">Myndaalbúmið</a></li>
                        <li><a href="/svartabloggid">Svörtu</a></li>
                        <li><a href="/langtiburtistan">Langtíburtistan</a></li>
                        <li><a href="/sudrid">Suðrið</a></li>
                        <li><a href="/lanztidindi">Lanztíðindi</a></li>
                        <li><a href="/bio">Bíó</a></li>
                        <li><a href="/um">Um</a></li>
					</ul>
				</nav>

			</header>
			

			
			<div class="content">

				{{{body}}}

			</div>

			<footer class="footer">
				
				<div class="grid gutter collapse600">
					<div class="col s2of3">
						<img src="/images/minilem.png" style="float: left; margin-top: -45px; margin-right: 25px;">
						<p>Lemúrinn er veftímarit um allt, stofnað í október 2011. <a href="#">Meira um Lemúrinn</a><br>
						    Ábendingar sendist á netfangið <a href="mailto:lemurinn@lemurinn.is">lemurinn [hjá] lemurinn.is.</a></p>
						
					</div>
					<div class="col s1of3">
						
						<div class="social text-right">
							<a href="https://www.facebook.com/lemurinn" title="Lemúrinn á Feisbúkk"><i class="icon-facebook"></i></a>
							<a href="https://twitter.com/Lemurinn" title="Lemúrinn á Twitter"><i class="icon-twitter"></i></a>
							<a href="/feed/" title="RSS"><i class="icon-feed"></i></a>
						</div>
						
					</div>
				</div>
				
			</footer>

		</div>
		
		{{>_sidebar.html }}

	</body>

</html>