.content {
	padding: 0;
    // .transition(~"padding 200ms");
    
	.cat-title {
	    font-family: @font-family-special;
	    text-transform: uppercase;
	    font-weight: bold;
	}
	
	
    .content-title {
        div.archive {
            line-height: 25px;
            margin-bottom: @spacing;
            font-weight: bold;
        }
    }
    
    .pagination {
        font-size: 24px;
        font-weight: bold;
        margin: @gutter 0;
        
        .nextpostslink {
            float: right;
        }
    }

    .greinasafn {
        
        .grein {
            height: 240px;
            overflow: hidden;
            margin-bottom: @gutter/2;
        }
        img {
            height: auto !important;
        }
        
        h2 {
            margin-top: 5px;
            font-size: 16px;
            line-height: 20px;
            min-height: 75px;
        }
    }

	.photos {
	    
	    img {
	        opacity: 0.7;
	    }
	    img:hover {
	        opacity: 1.0;
	    }
	    
	    div.col > div {
/*          background-color: black;
*/	    }	    
	}
	
	.myndaalbum-top {
	    margin-bottom: 0;
	}
	
	.bordi {
    	.bordi-item {
    	    margin-bottom: @gutter;
	    
    	    h2 {
    	        margin-bottom: @spacing/2;
    	        margin-top: -10px;
    	        text-align: center;
    	    }
	    
    	    img {
    	        min-width: 100% !important;
    	        max-width: 100% !important;
    	        height: auto;
    	        overflow: hidden;
    	    }
    	}
    	
    	div.main {
    	}
    }
}

@media only screen and (max-width: @page-width-margin) {

    .content {
        padding: 0 30px;
    }
    
    .content > .footer {
        padding: 0;
    }
}

/* Facebook Comments */

/*.fb-comments, .fb-comments iframe[style], .fb-comments span {
width: 100% !important;
}

.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
    width: 100% !important;
}
*/
/*#fbcomments, .fb-comments, .fb-comments iframe[style], .fb-comments span {
width: 100% !important;
}*/

.fb-comments, .fb-comments iframe[style], .fb-like-box, .fb-like-box iframe[style] {width: 100% !important;}
.fb-comments span, .fb-comments iframe span[style], .fb-like-box span, .fb-like-box iframe span[style] {width: 100% !important;}
