.content {
	padding: 0;
    // .transition(~"padding 200ms");
    
	.cat-title {
	    font-family: @font-family-special;
	    text-transform: uppercase;
	    font-weight: bold;
	}
	
	
    .content-title {
        div.archive {
            line-height: 25px;
            margin-bottom: @spacing;
            font-weight: bold;
        }
    }
    
    .pagination {
        font-size: 24px;
        font-weight: bold;
        margin: @gutter 0;
        
        .nextpostslink {
            float: right;
        }
    }

    .greinasafn {
        
        .grein {
/*          height: 240px;
*/            overflow: hidden;
            margin-bottom: @gutter/2;
/*            float: left;
*/            width: 33%;
/*            width: 100%;
*/            min-width: 180px !important;
            min-height: 285px !important;
        }
        img {
            height: auto !important;
            width: 100%;
        }
        
        h2 {
            margin-top: 5px;
            font-size: 16px;
            line-height: 20px;
            min-height: 75px;
        }
    }

	.photos {
	    
	    img {
	        opacity: 0.7;
	    }
	    img:hover {
	        opacity: 1.0;
	    }
	    
	    div.col > div {
/*          background-color: black;
*/	    }	    
	}
	
	.myndaalbum-top {
	    margin-bottom: 0;
	}
	
	.bordi {
    	.bordi-item {
    	    margin-bottom: @gutter;
	    
    	    h2 {
    	        margin-bottom: @spacing/2;
    	        margin-top: -10px;
    	        text-align: center;
    	    }
	    
    	    img {
    	        min-width: 100% !important;
    	        max-width: 100% !important;
    	        height: auto;
    	        overflow: hidden;
    	    }
    	}
    	
    	div.main {
    	}
    }
    
    .utvarp-post {
        h2 {
            font-family: @font-family-special;
            text-transform: uppercase;
            font-size: @font-size + 2;
        }
        
        .post-date {
            
        }
        
        
        
        .utvarp-description {
            font-size: 0.85em;
            
            p {
                display: inline;
                margin: 0;
            }
            
            .youtube-placeholder {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: @page-width-margin) {

    .content {
        padding: 0 30px;
    }
    
    .content > .footer {
        padding: 0;
    }
}

@media only screen and (max-width: @grid-greinasafn-two-break) {

    .greinasafn {
        
        .grein { 
            width: 50% !important;
        }
    }
    
    .content {
/*        display: none;
*/    }
}

@media only screen and  (max-width: @grid-greinasafn-three-back-break) {
    .greinasafn {
        
        .grein { 
            width: 33% !important;
        }
    }
}



@media only screen and  (max-width: @grid-greinasafn-two-back-break) {
    .greinasafn {
        
        .grein { 
            width: 50% !important;
        }
    }
}


@media only screen and  (max-width: @grid-greinasafn-one-break) {
    .greinasafn {
        
        .grein { 
            width: 100% !important;
            h2 {
                font-size: 20px;
                text-align: center;
            }
        }
    }
}

/* Facebook Like Box in Sidebar */

.section-box {
    .fb-like-box {
        height: 395px !important;
    }
}

/* Facebook Comments */

/*.fb-comments, .fb-comments iframe[style], .fb-comments span {
width: 100% !important;
}

.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
    width: 100% !important;
}
*/
/*#fbcomments, .fb-comments, .fb-comments iframe[style], .fb-comments span {
width: 100% !important;
}*/

.fb-comments, .fb-comments iframe[style], .fb-like-box, .fb-like-box iframe[style] {width: 100% !important;}
.fb-comments span, .fb-comments iframe span[style], .fb-like-box span, .fb-like-box iframe span[style] {width: 100% !important;}
